*,
*:before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 html{ scroll-behavior: smooth;}

img {
    max-width: 100%;
    width: 100%;
}
 button {
    font-family: 'Be Vietnam Pro', sans-serif ;
    font-size: 16px;
 }
.container {
    margin:0 auto;
    padding: 0;
}

header { z-index: 5; }

:root {
    --Bright-Red: hsl(12, 88%, 59%); 
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Gray-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%); 
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    max-width: 1440px;
    max-height: 4000px ;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 750px 1000px 1000px 900px;
}
.avatar {
    width: 65px;
}

/*header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 0 100px;
}

.navbar__logo {
    width: 160px;
    height: 30px;
    object-fit: cover;
}

.navbar__link {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    transition: all 0.4s ease 0s;
}

.navbar__link a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}
.navbar__link a:hover {
    color: var(--Dark-Gray-Blue);
}
.navbar__nut {
    background-color: var(--Bright-Red);
    font-weight: 600;
    border: none;
    border-radius: 50px;
    box-shadow: -2px 11px 20px 0px hsla(12, 88%, 59%, 0.63);
    cursor: pointer;
    padding: 12px 25px;
    transition: all 0.4s ease 0s;
    color: var(--Very-Pale-Red);

}
.navbar__nut:hover{
    opacity: 0.7;
}

.img2{
    width: 700px;
    position: absolute;
    height: 600px;
    top: -50px;
    left: 835px;
    z-index: -1;
}
.img3{
    width: 700px;
    position: absolute;
    height: 25vh;
    top: 1220px; 
    left: -400px;
    z-index: -1;
}

/*banner*/
.banner__img1 {
    position: relative;
    width: 650px;
    top: 50px;
    padding: 20px 30px 20px 0;
    z-index: 1;
}

.banner__heading h1 { font-size: 60px;}

.banner__heading p { 
    color: var(--Dark-Gray-Blue);
    padding: 25px 0 30px 0;
    width: 350px;
}
.banner__heading {
    position: relative;
    top:125px;
    left: 85px;
    margin: 20px;
    max-width: 500px;
    text-align: left;
}
#banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*content*/
#content {
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.content2__khung {
    display: grid;
    grid-template-columns: 110px 500px;
    padding: 25px 50px;
}
.content__nut {
    border: none;
    width: 70px;
    border-radius: 50px;
    background-color: var(--Bright-Red);
    color: var(--Very-Pale-Red);
    padding: 10px;
}
.content2__khung p {
    color: var(--Dark-Gray-Blue);
    padding-top: 20px;
}
.content1 h1 {
    font-size: 40px;
    padding: 30px 0;
    max-width: 500px;
}
.content1 p {
    max-width: 350px;
}
.content1 {
    position: relative;
    left: 100px;
}
/*said*/
/*footer*/



